.toggle {
    visibility: hidden;
    + label{
        position: relative;
        bottom: 20px;
    }
    + label > * {
        position: absolute;
        // transition: opacity .1s ease;
    }
    + label > :last-child{
        opacity: 0;
    }
    &:checked + label > :first-child {
        opacity: 0;
    }
    &:checked + label > :last-child{
        opacity: 1;
    }
}